body {
	font-family: 'Montserrat', sans-serif;
}
.img-responsive{
	max-width: 100%;
}
.hero_image 
{
	background: url("B.jpg")no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.hero_wrapper
{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.hero_wrapper h1{
	font-size: 1.6rem;
	text-align: centre;
}
p{
font-size: 1.22rem;
text-align: centre;
}
.form_code{
	text-align: center;
}
.form_code .post_code{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border: none;
	outline: none;
}
.form_code button{
	width: 40%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #00bab1;
	color: white;
	padding: .6rem;
	margin-top: 1rem;
	border: none;
	border-radius: .3rem;
}
.product{
	width: 100%;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
}
.product__list__item{
	float: left;
	width: 32%;
	margin-left:0.2rem;

}
@media screen and (max-width: 700px) {
	.product__list__item {
		width: 100%;
		float: none;
	}
}